<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Model Deployment</title>
</head>
<body>
    <h1>Predict your Score</h1>
    <p>
        
        Enter the number of hours you studied
    </p>
    <!-- This is just the LnF. We now have to capture this data via Python file-->
    <form action="/" method="POST">
        <input type="number" name="hrs" placeholder="Hours studied">
        <input type="submit">
    </form>
    {{my_marks}}

</body>
</html>